		#aut {
          position: absolute;
		  left: 40px;
		  top: 210px;
           height: 540px;
            width: 960px;
			border: 3px solid red;
            overflow: hidden;
			background: white;
			-webkit-animation: ron 1.5s; 
    animation: ron 1.5s;
        }
		
		#help{
position: absolute; 
	top: 220px; 
	left: 1050px;
	width: 300px; 
	height: 400px;
	border: 3px solid red;
	background: white;
	-webkit-animation: bob 1.5s ease; 
    animation: bob 1.5s ease;
	text-align: center;
	white-space: normal;
}

@-webkit-keyframes ron {
            from {
                -webkit-transform: rotateX(270deg);
            }

            to {
                -webkit-transform: rotateX(360deg);
            }
        }

        @keyframes ron {
            from {
                transform: rotateX(270deg);
            }

            to {
                transform: rotateX(360deg);
            }
        }
		@keyframes bob {
            from {
			    
                left: 1800px;
                top: 220px;
            }
            to {
			    
                left: 1050px;
                top: 220px;
            }
        }
        @-webkit-keyframes bob {
            from {		
			 
                left: 1800px;
                top: 220px;
            }
            to {
			
                left: 1050px;
                top: 220px;
            }
        }


        .arrow {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid green;
        }

        #right {
            left: 93%;
            top: 94%;
			-moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        #left {
            left: 0.7%;
            top: -2.4%;
            display: none;
			-moz-transform: rotate(225deg);
            -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
        }

        .arrow:active {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid red;
        }

        #menuBox {
            position: absolute;
            height: 44.5%;
            width: 15%;
            z-index: 999;
            left: -13%;
            top: -40.5%;
			background: -moz-linear-gradient(left, #32CD32, #7CFC00, #32CD32);
            background: -webkit-linear-gradient(left, #32CD32, #7CFC00, #32CD32);
            background: linear-gradient(to right, #32CD32, #7CFC00, #32CD32);
			-moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
			-moz-animation-duration: 1s;
            -moz-animation-timing-function: ease;
			-webkit-animation-duration: 1s;
            -webkit-animation-timing-function: ease;
            animation-duration: 1s;
            animation-timing-function: ease;
        }

        .menuButton {
            position: absolute;
            border: 2px #808080 solid;
            height: 10%;
            width: 80%;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
            border-radius: 100px;
			background: -moz-linear-gradient(#E6E6FA, #A9A9A9);
            background: -webkit-linear-gradient(#E6E6FA, #A9A9A9);
            background: linear-gradient(#E6E6FA, #A9A9A9);
        }

        .box {
            position: absolute;
            width: 6.5%;
            height: 10%;
        }

        .sub {
            overflow: hidden;
            position: absolute;
            top: -1px;
            left: -1px;
            width: 100%;
            height: 100%;
			-moz-animation-duration: 1s;
            -moz-animation-timing-function: linear;
            -webkit-animation-duration: 1s;
            -webkit-animation-timing-function: linear;
            animation-duration: 1s;
            animation-timing-function: linear;
        }

        .symSub {
            border: 1px red solid;
			-moz-border-radius: 8%;
            -webkit-border-radius: 8%;
            border-radius: 8%;
        }

        .symImg {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 80%;
        }

        .symTxt {
            position: absolute;
            top: 76%;
            width: 100%;
            text-align: center;
            background: white;
        }

        .folImg {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        .folTxt {
            position: absolute;
            top: 48%;
            width: 100%;
            text-align: center;
            background: rgba(255,255,255,0);
        }

        .starImg {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
			-moz-animation-duration: 2s;
            -moz-animation-timing-function: linear;
            -webkit-animation-duration: 2s;
            -webkit-animation-timing-function: linear;
            animation-duration: 2s;
            animation-timing-function: linear;
        }
		@-moz-keyframes twinkle {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
        @-webkit-keyframes twinkle {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
        @keyframes twinkle {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
		@-moz-keyframes bringUp {
            from {
                left: -13%;
                top: -40.5%;
            }

            to {
                left: 0%;
                top: 0%;
            }
        }
        @-webkit-keyframes bringUp {
            from {
                left: -13%;
                top: -40.5%;
            }

            to {
                left: 0%;
                top: 0%;
            }
        }

        @keyframes bringUp {
            from {
                left: -13%;
                top: -40.5%;
            }

            to {
                left: 0%;
                top: 0%;
            }
        }
		
		@-moz-keyframes bringOut {
            from {
                left: 0%;
                top: 0%;
            }

            to {
                left: -13%;
                top: -40.5%;
            }
        }
        @-webkit-keyframes bringOut {
            from {
                left: 0%;
                top: 0%;
            }

            to {
                left: -13%;
                top: -40.5%;
            }
        }

        @keyframes bringOut {
            from {
                left: 0%;
                top: 0%;
            }

            to {
                left: -13%;
                top: -40.5%;
            }
        }
		@-moz-keyframes flop {
            from {
                -moz-transform: rotateY(270deg);
            }

            to {
                -moz-transform: rotateY(360deg);
            }
        }
        @-webkit-keyframes flop {
            from {
                -webkit-transform: rotateY(270deg);
            }

            to {
                -webkit-transform: rotateY(360deg);
            }
        }

        @keyframes flop {
            from {
                transform: rotateY(270deg);
            }

            to {
                transform: rotateY(360deg);
            }
        }
		@-moz-keyframes flip {
            from {
                -moz-transform: rotateX(270deg);
            }

            to {
                -moz-transform: rotateX(360deg);
            }
        }
        @-webkit-keyframes flip {
            from {
                -webkit-transform: rotateX(270deg);
            }

            to {
                -webkit-transform: rotateX(360deg);
            }
        }
        @keyframes flip {
            from {
                transform: rotateX(270deg);
            }

            to {
                transform: rotateX(360deg);
            }
        }
		@-moz-keyframes zoom {
            from {
                -moz-transform: scale(0.2);
            }

            to {
                -moz-transform: scale(1);
            }
        }
        @-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0.2);
            }

            to {
                -webkit-transform: scale(1);
            }
        }

        @keyframes zoom {
            from {
                transform: scale(0.2);
            }

            to {
                transform: scale(1);
            }
        }
		
        #swap {
            position: absolute;
			-moz-border-radius: 8px;
			-webkit-border-radius: 8px;
            border-radius: 8px;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
            height: 7%;
            width: 7%;
            font: bold 17px Arial, Helvetica;
            text-shadow: 0 1px 0 rgba(255,255,255,0.5);
        }
		.swapEnable{
			border: 2px double #FFC680;
			background: -moz-linear-gradient(#FFB459 50%, #FF9D26 50%);
			background: -webkit-linear-gradient(#FFB459 50%, #FF9D26 50%);
			background: linear-gradient(#FFB459 50%, #FF9D26 50%);
			color: blue;
			opacity: 1;
		}	
		.swapEnable:active{
		    background: yellow;
			color: red;
		}
		.swapdisable{
			border: 2px double #939393;
			background: -moz-linear-gradient(#ACACAC, #ECECEC);
			background: -webkit-linear-gradient(#ACACAC, #ECECEC);
			background: linear-gradient(#ACACAC, #ECECEC);
			color: grey;
			opacity: 0.9;
		}
		
        #tableBox {
            position: absolute;
            left: 1%;
            top: 46%;
            border: 5px #1E90FF ridge;
            width: 97%;
            height: 52%;
            overflow-y: scroll;
        }

        .socket {
            position: absolute;
            border: 2px #191970 dotted;
            width: 7.2%;
            height: 20%;
        }

        #fake {
            position: absolute;
            top: 8%;
            left: 20%;
            display: none;
            height: 25%;
            width: 60%;
            border: 1px black inset;
            background: #E0FFFF;
        }

        #selImage {
            position: absolute;
            top: 8%;
            left: 20%;
            opacity: 0;
            display: none;
            height: 25%;
            width: 60%;
        }

        #imageName {
            position: absolute;
            top: 44%;
            left: 10%;
            display: none;
            height: 7%;
            width: 80%;
        }

        #category {
            position: absolute;
            top: 60%;
            left: 10%;
            display: none;
            height: 7%;
            width: 80%;
        }

        #ok {
            position: absolute;
            top: 75%;
            left: 55%;
            display: none;
            height: 10%;
            width: 35%;
        }

        #no {
            position: absolute;
            top: 75%;
            left: 10%;
            display: none;
            height: 10%;
            width: 35%;
        }

        #minder {
            position: absolute;
            top: 34%;
            left: 10%;
            display: none;
        }

        #minder2 {
            position: absolute;
            top: 50%;
            left: 10%;
            display: none;
        }

        #name1 {
            position: absolute;
            left: 11%;
            top: 20%;
            font: bold 18px Arial, Helvetica;
            color: #F0FFFF;
        }

        #name2 {
            position: absolute;
            left: 16%;
            top: 20%;
            font: bold 18px Arial, Helvetica;
            color: #F0FFFF;
        }

        .playerBall {
            position: absolute;
            width: 7.5%;
            top: 6%;
        }

        #undo {
            position: absolute;
            top: 58%;
            left: 94%;
            height: 40px;
            width: 9%;
			background: -moz-linear-gradient(#CBC5EE, #796AD2);
			background: -webkit-linear-gradient(#CBC5EE, #796AD2);
            background: linear-gradient(#CBC5EE, #796AD2);
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
        }

        #arrow-left {
            position: absolute;
            width: 28.2842712475px;
            height: 28.2842712475px;
            left: -14px;
            top: 5.85px;
			background: -moz-linear-gradient(135deg, #CBC5EE, #796AD2);
			background: -webkit-linear-gradient(135deg, #CBC5EE, #796AD2);
            background: linear-gradient(135deg, #CBC5EE, #796AD2);
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        #Untext {
            position: absolute;
            left: 15px;
            top: -6px;
            font: bold 18px Arial, Helvetica;
            color: #F0FFFF;
            -ms-touch-select: none;
            -ms-user-select: none;
        }